.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(215deg ,#0a1929, #0e0e0f);
  margin-top: 80px;
}

h4 {
  margin: 8px;
}

@media screen and (max-width: 972px) {
  #subtitle {
    display: none;
  }
}